In [20]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

# 0. Notebook description

In this notebook, we load our cleaned dataset and perform a content-based recommendation based on the `Star1`, `Star2`, `Star3`, and `Star4` columns, which contain the actors of each movie.

# 1. Load dataset

In [21]:
movies_df = pd.read_csv('datasets/imdb_top_1000_cleaned.csv', low_memory=False)

print(movies_df[['Star1', 'Star2', 'Star3', 'Star4']].head())

            Star1           Star2          Star3           Star4
0     Tim Robbins  Morgan Freeman     Bob Gunton  William Sadler
1   Marlon Brando       Al Pacino     James Caan    Diane Keaton
2  Christian Bale    Heath Ledger  Aaron Eckhart   Michael Caine
3       Al Pacino  Robert De Niro  Robert Duvall    Diane Keaton
4     Henry Fonda     Lee J. Cobb  Martin Balsam    John Fiedler

# 2. Prepare tf-idf model for the `Genre` column

We combine the actor columns into a single column and then transform them into numeric vector representations using TF-IDF.

In [22]:
# Combine the Star columns into a single string
movies_df['Actors'] = (
        movies_df['Star1'].fillna('') + ' ' +
        movies_df['Star2'].fillna('') + ' ' +
        movies_df['Star3'].fillna('') + ' ' +
        movies_df['Star4'].fillna('')
)

In [23]:
# Print the first 10 rows of the new DataFrame
print(movies_df.head(10))

                                         Poster_Link  \
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...
5  https://m.media-amazon.com/images/M/MV5BNzA5ZD...
6  https://m.media-amazon.com/images/M/MV5BNGNhMD...
7  https://m.media-amazon.com/images/M/MV5BNDE4OT...
8  https://m.media-amazon.com/images/M/MV5BMjAxMz...
9  https://m.media-amazon.com/images/M/MV5BMmEzNT...

                                    Series_Title Released_Year Certificate  \
0                       The Shawshank Redemption          1994           A
1                                  The Godfather          1972           A
2                                The Dark Knight          2008          UA
3                         The Godfather: Part II          1974           A
4                                   12 Angry Men          1957           U
5  The Lord of the Rings: The Return of the King          2003           U
6                                   Pulp Fiction          1994           A
7                               Schindler's List          1993           A
8                                      Inception          2010          UA
9                                     Fight Club          1999           A

   Runtime                      Genre  IMDB_Rating  \
0    142.0                      Drama          9.3
1    175.0               Crime, Drama          9.2
2    152.0       Action, Crime, Drama          9.0
3    202.0               Crime, Drama          9.0
4     96.0               Crime, Drama          9.0
5    201.0   Action, Adventure, Drama          8.9
6    154.0               Crime, Drama          8.9
7    195.0  Biography, Drama, History          8.9
8    148.0  Action, Adventure, Sci-Fi          8.8
9    139.0                      Drama          8.8

                                            Overview  Meta_score  \
0  Two imprisoned men bond over a number of years...        80.0
1  An organized crime dynasty's aging patriarch t...       100.0
2  When the menace known as the Joker wreaks havo...        84.0
3  The early life and career of Vito Corleone in ...        90.0
4  A jury holdout attempts to prevent a miscarria...        96.0
5  Gandalf and Aragorn lead the World of Men agai...        94.0
6  The lives of two mob hitmen, a boxer, a gangst...        94.0
7  In German-occupied Poland during World War II,...        94.0
8  A thief who steals corporate secrets through t...        74.0
9  An insomniac office worker and a devil-may-car...        66.0

               Director              Star1                 Star2  \
0        Frank Darabont        Tim Robbins        Morgan Freeman
1  Francis Ford Coppola      Marlon Brando             Al Pacino
2     Christopher Nolan     Christian Bale          Heath Ledger
3  Francis Ford Coppola          Al Pacino        Robert De Niro
4          Sidney Lumet        Henry Fonda           Lee J. Cobb
5         Peter Jackson        Elijah Wood       Viggo Mortensen
6     Quentin Tarantino      John Travolta           Uma Thurman
7      Steven Spielberg        Liam Neeson         Ralph Fiennes
8     Christopher Nolan  Leonardo DiCaprio  Joseph Gordon-Levitt
9         David Fincher          Brad Pitt         Edward Norton

               Star3             Star4  No_of_Votes        Gross  \
0         Bob Gunton    William Sadler      2343110   28341469.0
1         James Caan      Diane Keaton      1620367  134966411.0
2      Aaron Eckhart     Michael Caine      2303232  534858444.0
3      Robert Duvall      Diane Keaton      1129952   57300000.0
4      Martin Balsam      John Fiedler       689845    4360000.0
5       Ian McKellen     Orlando Bloom      1642758  377845905.0
6  Samuel L. Jackson      Bruce Willis      1826188  107928762.0
7       Ben Kingsley  Caroline Goodall      1213505   96898818.0
8        Elliot Page      Ken Watanabe      2067042  292576195.0
9          Meat Loaf      Zach Grenier      1854740   37030102.0

                                              Actors
0  Tim Robbins Morgan Freeman Bob Gunton William ...
1    Marlon Brando Al Pacino James Caan Diane Keaton
2  Christian Bale Heath Ledger Aaron Eckhart Mich...
3  Al Pacino Robert De Niro Robert Duvall Diane K...
4  Henry Fonda Lee J. Cobb Martin Balsam John Fie...
5  Elijah Wood Viggo Mortensen Ian McKellen Orlan...
6  John Travolta Uma Thurman Samuel L. Jackson Br...
7  Liam Neeson Ralph Fiennes Ben Kingsley Carolin...
8  Leonardo DiCaprio Joseph Gordon-Levitt Elliot ...
9     Brad Pitt Edward Norton Meat Loaf Zach Grenier

In [24]:
vectorizer = TfidfVectorizer(stop_words='english', max_df=0.8, min_df=2)

tfidf_actors = vectorizer.fit_transform(movies_df['Actors'])

print(f'Matrix contains {tfidf_actors.shape[0]} movies and {tfidf_actors.shape[1]} words')

Matrix contains 1000 movies and 1377 words

# 3. Find similar movies

To find similar movies, we use the KNN algorithm with **cosine similarity** as a distance metric to find the nearest neighbours.

In [25]:
def get_content_based_recommendation_actors(title, top_n=10, metric='cosine'):
    # Find the index of the movie that matches the title
    idx = movies_df[movies_df.Series_Title.str.lower() == title.lower()].index[0]

    # Build the KNN model
    model = NearestNeighbors(n_neighbors=top_n+1, metric=metric)
    model.fit(tfidf_actors)

    # Find similar movies
    similar_movies = model.kneighbors(tfidf_actors[idx], return_distance=False)[0]
    similar_movies = similar_movies[1:]  # remove the first item (the movie itself)

    # Return the top recommendations
    return movies_df.iloc[similar_movies]

In [26]:
get_content_based_recommendation_actors('The Godfather')[['Series_Title', 'Star1', 'Star2', 'Star3', 'Star4', 'IMDB_Rating', 'No_of_Votes']]

,Series_Title,Star1,Star2,Star3,Star4,IMDB_Rating,No_of_Votes
3,The Godfather: Part II,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,9.0,1129952
974,The Godfather: Part III,Al Pacino,Diane Keaton,Andy Garcia,Talia Shire,7.6,359809
398,Scent of a Woman,Al Pacino,Chris O'Donnell,James Rebhorn,Gabrielle Anwar,8.0,263918
649,The Insider,Russell Crowe,Al Pacino,Christopher Plummer,Diane Venora,7.8,159886
53,Capharnaüm,Zain Al Rafeea,Yordanos Shiferaw,Boluwatife Treasure Bankole,Kawsar Al Haddad,8.4,62635
533,Manhattan,Woody Allen,Diane Keaton,Mariel Hemingway,Michael Murphy,7.9,131436
74,Apocalypse Now,Martin Sheen,Marlon Brando,Robert Duvall,Frederic Forrest,8.4,606398
305,On the Waterfront,Marlon Brando,Karl Malden,Lee J. Cobb,Rod Steiger,8.1,142107
447,A Streetcar Named Desire,Vivien Leigh,Marlon Brando,Kim Hunter,Karl Malden,8.0,99182
414,Annie Hall,Woody Allen,Diane Keaton,Tony Roberts,Carol Kane,8.0,251823

In [27]:
get_content_based_recommendation_actors('The Dark Knight')[['Series_Title', 'Star1', 'Star2', 'Star3', 'Star4', 'IMDB_Rating', 'No_of_Votes']]

,Series_Title,Star1,Star2,Star3,Star4,IMDB_Rating,No_of_Votes
36,The Prestige,Christian Bale,Hugh Jackman,Scarlett Johansson,Michael Caine,8.5,1190259
155,Batman Begins,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,8.2,1308302
773,Brokeback Mountain,Jake Gyllenhaal,Heath Ledger,Michelle Williams,Randy Quaid,7.7,323103
819,The Muppet Christmas Carol,Michael Caine,Kermit the Frog,Dave Goelz,Miss Piggy,7.7,50298
778,The Machinist,Christian Bale,Jennifer Jason Leigh,Aitana Sánchez-Gijón,John Sharian,7.7,358432
217,Ford v Ferrari,Matt Damon,Christian Bale,Jon Bernthal,Caitriona Balfe,8.1,291289
832,Empire of the Sun,Christian Bale,John Malkovich,Miranda Richardson,Nigel Havers,7.7,115677
953,American Psycho,Christian Bale,Justin Theroux,Josh Lucas,Bill Sage,7.6,490062
692,The Man Who Would Be King,Sean Connery,Michael Caine,Christopher Plummer,Saeed Jaffrey,7.8,44917
63,The Dark Knight Rises,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,8.4,1516346